<!-- <div class="background-image">
    <div class="content-wrapper">
        <h1 class="title">AMENITIES</h1>
        <div class="icon-row">
            <img src="../../assets/logos/Recursos_Covello(3).png" alt="Icon 1">
            <img src="../../assets/logos/Recursos_Covello(4).png" alt="Icon 2">
            <img src="../../assets/logos/Recursos_Covello(5).png" alt="Icon 2">
            <img src="../../assets/logos/Recursos_Covello(6).png" alt="Icon 2">
            <img src="../../assets/logos/Recursos_Covello(7).png" alt="Icon 2">
            <img src="../../assets/logos/Recursos_Covello(8).png" alt="Icon 2">
        </div>
        <div class="bordered-paragraph">
            <p>Servicios y amenities, restaurant, salón multiuso, locales comerciales,
                cocheras cubiertas, para disfrutar todo el año y marinas de uso
                exclusivo para propietarios. Para amantes de las actividades náuticas,
                la naturaleza, bienestar y calidad de vida.</p>
          </div>
    </div>
</div> -->

<!-- Your Component Template -->
<div class="background-image">
    <div class="content-wrapper">
        <h1 class="title">AMENITIES</h1>
        <div class="container icon-row">
            <div class="row">
                <div class="col-6 col-md-4 col-lg">
                    <img src="assets/logos/Recursos_Covello(3).png" alt="Icon 1">
                </div>
                <div class="col-6 col-md-4 col-lg">
                    <img src="assets/logos/Recursos_Covello(4).png" alt="Icon 2">
                </div>
                <div class="col-6 col-md-4 col-lg">
                    <img src="assets/logos/Recursos_Covello(5).png" alt="Icon 3">
                </div>
                <div class="col-6 col-md-4 col-lg">
                    <img src="assets/logos/Recursos_Covello(6).png" alt="Icon 4">
                </div>
                <div class="col-6 col-md-4 col-lg">
                    <img src="assets/logos/Recursos_Covello(7).png" alt="Icon 5">
                </div>
                <div class="col-6 col-md-4 col-lg">
                    <img src="assets/logos/Recursos_Covello(8).png" alt="Icon 6">
                </div>
            </div>
        </div>
        <div class="bordered-paragraph">
            <p>Servicios y amenities, restaurant, salón multiuso, locales comerciales,
                cocheras cubiertas, para disfrutar todo el año y marinas de uso
                exclusivo para propietarios. Para amantes de las actividades náuticas,
                la naturaleza, bienestar y calidad de vida.</p>
        </div>
    </div>
</div>