<div class="row align-items-center">
    <div class="col-md-6 mb-4 mb-md-0">
        <img src="../../assets/renders/Recursos_Covello(10).png" class="img-fluid" alt="">
    </div>
    <div class="col-md-6 mt-4" style="text-align: center;">
        <h1>El Proyecto</h1>
        <p>Con monoambientes y unidades de
            1 y 2 dormitorios en la ubicación
            más emblemática de la ciudad, en
            Postal Carmelo vas a disfrutar de
            maravillosas vistas al río desde un
            punto estratégico que no solo es
            ideal para vivir, sino también para
            el desarrollo de actividades
            comerciales. </p>
        <p>
            <span style="color: #FF0000; display: flex; justify-content: center;">¡Sé parte de este hito que transformará Carmelo!</span>
        </p>
        <div class="d-grid gap-2 col-6 mx-auto align-self-center">
            <button class="btn btn-dark">
                <!-- https://sites.google.com/site/gdocs2direct/home  crear direct link y poner ese aca -->
                <a class="link" href="https://drive.google.com/uc?export=download&id=1sJI4AQPlOiQo2-caSoqy5hOexg8Hj4xi">Descargar Tipologías</a>
            </button>
            <button class="btn btn-dark">
                <a class="link" href="">Descargar Brochure</a>
            </button>
        </div>
    </div>
</div>