
<div class="background-image">
  <div class="content-wrapper">
    <h1 class="title">LA UBICACIÓN PERFECTA</h1>
    <div class="row align-items-center">
      <div class="col-md-6 mb-4 mb-md-0">
        <div class="text-white">
          <p>Primer condominio turístico y náutico desarrollado al ingreso de la ciudad de Carmelo, 
            Uruguay, sobre el puente ícono de la ciudad 
            y a la vera de un Arroyo navegable, con acceso
            fluvial, a tan sólo 33 km del Puerto de Tigre, Buenos Aires.
          </p>
          <p>Usted podrá disfrutar de un paraíso natural
              donde importantes proyectos 
              hallaron su espacio dotando a Carmelo de 
              exclusivos servicios. Deportes náuticos, golf, 
              polo, spa, barrios privados, hotel cinco estrellas, 
              bodegas boutique, viñedos y gastronomía local y artesanal.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <!-- Google Map Embed -->
        <iframe
          width="100%"
          height="300"
          frameborder="0"
          style="border:0"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDSR_P-5dkc72VeifAXMFIw6AEHgml1F_A&q=-34.6626242,-58.3554145"
          allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>
</div>