<!-- <div class="container-sm">
  <app-navbar></app-navbar>
  <section id="home">
    <app-home></app-home>
  </section>
  <section id="project">
    <app-project></app-project>
  </section>
  <section id="amenities">
    <app-amenities></app-amenities>
  </section>
  <section id="location">
    <app-location></app-location>
  </section>
  <section id="tour">
    <app-tour></app-tour>
  </section>
  <section id="contact-form">
    <app-contact-form></app-contact-form>
  </section>
  <section id="footer">
    <app-footer></app-footer>
  </section>
</div> -->
<img src="covello/assets/renders/Postal_Carmelo_R2.jpg">